<!DOCTYPE html>
<html lang="en"<% if (ngApp !== null && ngController !== null) { %> ng-app="<%= ngApp %>" ng-controller="<%= ngController %>"<% } %>>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1" />
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="fragment" content="!" />

    <title><%= title %></title>

    <!--

      Stylesheets
      ========================

      You can link any CSS, LESS, or image files in your `assets` directory
      as you would normally: using <link/> tags.
      
    -->

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.2.2/css/foundation.min.css" />

    <!--STYLES-->
    <link rel="stylesheet" href="/linker/styles/font-awesome.css">
    <link rel="stylesheet" href="/linker/styles/vendor/angular-quick-date.css">
    <link rel="stylesheet" href="/linker/styles/main.css">
    <link rel="stylesheet" href="/linker/styles/auth.css">
    <link rel="stylesheet" href="/linker/styles/cms.css">
    <link rel="stylesheet" href="/linker/styles/profile-card.css">
    <link rel="stylesheet" href="/linker/styles/responsive-recaptcha.css">
    <!--STYLES END-->

    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.1/modernizr.min.js"></script>

    <!--[if lte IE 7]>
    <link rel="stylesheet" href="http://universal-ie6-css.googlecode.com/files/ie6.1.1.css" media="screen, projection">
    <![endif]-->

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <% if (useGoogleAnalytics && GA_TRACKING_ID !== null && bodyId != 'cms') { %>
      <% include common/social/google_analytics %>
    <% } %>
  </head>

  <body<% if (bodyId !== null) { %> id="<%= bodyId %>"<% } %>>

    <% if (ngApp !== null && ngController !== null) { %>
      <% include common/nav %>
    <% } %>

    <% if (useFullLayout) { %>
      <% include common/header %>
    <% } %>

    <!-- Include the view file for the current controller/route -->
    <%- body %>

    <% if (useFullLayout) { %>
      <% include common/footer %>
    <% } %>


    <!--

      Client-side Javascript
      ========================

      You can import any js files in your `assets` directory as you would 
      normally: using <script></script> tags.

      Here's an example of importing a few dependencies, in order:
    -->
    <!--
    <script type="text/javascript" src="/js/socket.io.js"></script>
    <script type="text/javascript" src="/js/sails.io.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
    -->

    <!-- manually add tinymce -->
    <script type="text/javascript" src="/js/vendor/tinymce/tinymce.min.js"></script>

    <!--SCRIPTS-->
    <script src="/linker/js/vendor/jquery.js"></script>
    <script src="/linker/js/vendor/angular.js"></script>
    <script src="/linker/js/vendor/angular-resource.js"></script>
    <script src="/linker/js/vendor/angular-sanitize.js"></script>
    <script src="/linker/js/vendor/angular-ui-router.js"></script>
    <script src="/linker/js/vendor/angular-foundation.js"></script>
    <script src="/linker/js/vendor/angular-foundation-tpls.js"></script>
    <script src="/linker/js/vendor/angular-ui-tinymce.js"></script>
    <script src="/linker/js/vendor/angular-quick-date.js"></script>
    <script src="/linker/js/vendor/readmore.js"></script>
    <script src="/linker/js/cms/models/models.js"></script>
    <script src="/linker/js/cms/app.js"></script>
    <script src="/linker/js/cms/modal/modal.js"></script>
    <script src="/linker/js/cms/modal/profile/profile_editor.js"></script>
    <script src="/linker/js/cms/modal/story_editor/story_editor.js"></script>
    <script src="/linker/js/www/app.js"></script>
    <!--SCRIPTS END-->

    <!--TEMPLATES-->
    <script type="text/javascript" src="/templates/cms.tpls.js"></script>
    <script type="text/javascript" src="/templates/www.tpls.js"></script>
    <!--TEMPLATES END-->

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.2.2/js/vendor/fastclick.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.2.2/js/foundation/foundation.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.2.2/js/foundation/foundation.topbar.min.js"></script>
    <script>
        $(document).foundation();
    </script>

  </body>
</html>
